@import url();

.content{
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 800px;
    font-size: 20px;
    margin-top: 1%;
}

.content h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
    margin-top: 40px;
    color: #fff;
}

.content p{
    font-size: 15px;
}

.title h1,
.title h2{
    color: #FFFF;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5px;
}



.tile_clickable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
}

.tile_clickable a{
    text-decoration: none;
}

.tile_clickable p{
    color: #fff;
}

.tile_clickable img{
    margin-bottom: 10px;
}

.artist_tiles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    padding: 2px 2px 2px 2px;
    width: 170px;
    height: 275px;
    text-align: center;
    color:#fff;
    line-height: 1;
    text-align: center;
    transition: 0.5s;
}

.artist_tiles p{
    line-height: 13px;
    font-size: 12px;
    margin-bottom: 40px;
}

.artist_tiles img{
    width: 165px;
    height: 155px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.artist_tiles:hover{
    transform: translateY(10px);
    background-color: rgba(113, 97, 128, 0.65);
}