
/* --- Tile --- */
.email_tile,
.phone_tile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: #000;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 10px 7px 4px 7px;
    width: 24rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contact_us{
    display: block;
    width: 22rem;
}

.contact_us input {
    width: 90%;
    padding: 5px;
    font-size: 1rem;
    margin: 1rem;
    background:white;
    border: .5px solid black;
    border-radius: 5px;
}

.contact_us textarea{
    margin-left: 1rem;
    width: 90%;
    border: .5px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    resize: vertical;
    font-size: 1rem;
}

.lbl{
    margin-top: 1rem;
}

.phone_tile p{
    margin: 1rem;
}

.email_tile h3{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.contact_us p{
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}

#message{
    height: 8rem;
}


.btn_send_email{
    display: block;
    width: auto;
    margin: auto;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    font-size: 20px;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-2px);
    color: #121414;
}

.btn_send_email a:hover{
    text-decoration: none;
}

.btn_send_email:hover{
    transform: translateY(-5px);
    background:rgb(240, 238, 238);
    color: #121414;
}

.error{
    color: red;
    font-size: 0.8rem;
    margin-left: 1rem;
}