
.header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .logo a{
    float: left;
    color: #fff;
    margin: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .nav{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 16px;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4e50bf5c;
  }
  
  .nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    font-size: 1rem;
  }
  
  .nav ul li{
    display: inline-block;
    margin: .6rem .6rem;
  }
  
  .nav ul li a{
    color: #FFFF;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  
  .btn_login,
  .btn_sign_out{
    padding: 0.1rem 0.6rem;
    border: 0;
    outline: 0;
    height: 1.7rem;
    border-radius: 0.4rem;
    background: #f5168d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1.5rem;
    font-size: 1rem;
    transition: 0.5s;
  }

  .btn_sign_out{
    width: 5rem;
    padding: 0.3rem;
  }
  
  .btn_login a,
  .btn_sign_out{
    text-decoration: none;
    color: white;
  }
  
  .nav ul li a{
    transform: translateY(-0.6rem);
  }
  
  .btn_login a:hover,
  .btn_login:hover,
  .btn_sign_out:hover{
    transform: translateY(-.2rem);
    color: #121414;
  }

  .cart_count{
    margin-left: 0.1rem;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    background: #b14e83;
    border-radius: 30%;
  }

  .user_name{
    font-weight: bold;
    color: #fff;
  }