
.content{
  margin-top: 10%;
  margin-left: 12%;
  color: #fff;
  max-width: 600px;
  font-size: 10px;
}

.title{
  text-align: left;
  font-size: 24px;
}

.dropbtn {
  background-color: rgba(113, 97, 128, 0.65);
  margin-top: 15px;
  height: 40px;
  width: 600px;
  opacity: 0.9;
  color: white;
  font-size: 17px;
  border: none;
  text-align: center;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  opacity: 1;
  font-size: 17px;
  text-align: center;
  background: rgba(113, 97, 128, 0.885);
  color: #fff;
  min-width: 600px;
  z-index: 1;
  border-radius: 2px;
}

.dropdown_content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {background-color: rgba(119, 108, 130, 0.65);}

.dropdown:hover .dropdown_content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(113, 97, 128, 0.65);}

.reviews h3{
  color: #fff;
  font-size: 20px;
  margin-top: 5%;
}

.tiles{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tile{
  margin-bottom: 40px;
  margin: 25px;
  margin-left: 0;
  margin-right: 25px;
  color: #fff;
  line-height: 1.4;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding: 10px 7px 4px 7px;
  height: 250px;
  width: 150px;
  transition: 0.5s;
}

.tile h3{
  margin-bottom: 15px;
}

.tile p{
  margin-top: 5px;
  font-size: 12px;
}

.tile p img{
  width: 18px;
  height: 18px;
  margin-bottom: 10px;
}

.tile:hover{
  transform: translateY(-7px);
  background-color: rgba(113, 97, 128, 0.65);
}